{% extends 'base.html.twig' %}
{% form_theme form '@MopaBootstrap/Form/fields.html.twig' %}

{% block body %}
    <h1>Application creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn" type="submit" >Create</button>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('application_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
